<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>AI BLOG GENERATOR</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

  <style>
    /* Custom styles for the loading animation */
    .load {
      width: 80px;
      height: 80px;
      border: 8px solid #cce6ff;
      border-top: 8px solid #007bff;
      border-radius: 50%;
      animation: spin 1.2s linear infinite;
      margin: 20px auto;
    }

    @keyframes spin {
      0%   { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  </style>
</head>

<body class="flex flex-col min-h-screen bg-gray-100 font-sans antialiased">

  <nav class="bg-blue-600 p-4 text-white flex justify-between">
    <div>
      <h1 class="text-3xl font-bold text-center">AI Blog Generator</h1>
    </div>
    <div>
      <a href="logout" class="hover:underline">Logout</a>
    </div>
  </nav>

  <div class="flex-grow container mx-auto mt-10 sm:px-0">
    <div class=" bg-gray-200  mx-auto p-6 rounded-lg shadow-md transition-transform transform hover:scale-105 flex flex-col">
      <div class="text-center">
        <h2 class="text-2xl font-semibold mb-4">Welcome to Blog Post Generator</h2>
        <p class="text-gray-700">
          This is a simple blog post generator that uses AI to create content based on your input. 
          You can enter a topic, and the AI will generate a blog post for you. 
          The generated content is designed to be engaging and informative, making it easy for you to share with your audience.
        </p>   
      </div>

      <br />

      <!-- YouTube section -->
      <div>
        <h2 class="text-xl mb-4 font-semibold">Enter the Youtube Video Link</h2>
        <div class="flex space-x-4">
          <input id="youtubeLink" type="url" placeholder="Enter Youtube Video Link"
            class="flex-grow p-2 border border-blue-400 rounded-l-md">
          <button id="generateBlogButton"
            class="bg-blue-600 text-white px-4 py-2 rounded-r-md hover:bg-blue-700 transition-colors">
            Generate
          </button>
        </div>
      </div>

      <!-- Loading section -->
      <div id="loadingsection" class="load hidden"></div>

      <section class="mt-10 flex-grow">
        <h2 class="text-xl mb-4 font-semibold">Generated Blog Post</h2>
        <div id="blogContent" class="mt-2 text-gray-700 space-y-4"></div>
      </section>
    </div>
  </div>
  <footer class="bg-blue-600 text-white text-center p-4 mt-10">
    <a href="https://www.linkedin.com/in/ahmed-hassan-qureashi/ " class="text-white hover:underline">Ahmed Hassan Qureashi</a> |
      © 2025 Ahmed Hassan Qureashi </a> 
  </footer>

</body>
</html>
